<div>
	<table >
		<thead style="text-align: center;">
			<td>Employee</td>
			<td>Empid</td>
			<td>EmpName</td>
			<td></td>
		</thead>
		<tr ng-repeat="emp in emplist">
			<td>{{$index}}</td>
			<td>{{emp.empId}}</td>
			<td>{{emp.empName}}</td>
			<td><a ng-href="#!/form/{{emp.empId}}">Review</a></td>
			<td></td>
		</tr>
	</table>
	<style>
		table {
		  font-family: arial, sans-serif;
		  border-collapse: collapse;
		  width: 100%;
		}
		
		td, th {
		  border: 1px solid #dddddd;
		  text-align: left;
		  padding: 8px;
		}
		
		tr:nth-child(even) {
		  background-color: #dddddd;
		}
		</style>
</div>
